/* CSS HEX
--yale-blue: rgb(39, 76, 119);
--cerulean-frost: rgba(96, 150, 186);
--baby-blue-eyes: rgb(163, 206, 241);
--alice-blue; rgb(231, 236, 239);
--battleship-grey: rgb(139, 140, 137); */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

ul {
  font-size: 14px;
}

h1 {
  background-image: url(../images/image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100vw;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  margin: initial;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

nav {
  background-color: rgba(39, 76, 119);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > ul > li {
  margin-right: 50px;
  font-size: 14px;
}

a:link {
  color: black;
}

a:visited {
  color: white;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 75vh;
  width: 100vw;
}

/* about */
body > section:first-of-type {
  background-color: rgba(96, 150, 186, 0.6);
}

body > section:first-of-type > p {
  width: 50em;
}

/* services */
body > section:nth-of-type(2) {
  background-image: url(../images/image4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: relative; */
}

body > section:nth-of-type(2) ul {
  width: 30em;
}

/* contact */
body > section:last-of-type {
  background-color: rgba(163, 206, 241, 0.5);
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

iframe {
  margin-top: 20px;
}
